.k-toggle-button .k-icon {
  color: #FFFFFF !important;
}
.k-toolbar.k-widget.k-toolbar-resizable {
  float: right;
  margin-top: -75px;
}
.content.container-fluid .box:first-of-type{
  margin-top: -20px;
}
#editWorkprocessBtn, #saveWorkprocessBtn, #cancelWorkprocessBtn {
  background-image: none;
  background-color: #e52228;
  border-color: #e52228;
  color: #FFFFFF !important;
  height: 35px;
  border-radius: 3px;
}
#editWorkprocessBtn:hover, #editWorkprocessBtn:focus, #editWorkprocessBtn:active,
#saveWorkprocessBtn:hover, #saveWorkprocessBtn:focus, #saveWorkprocessBtn:active,
#cancelWorkprocessBtn:hover, #cancelWorkprocessBtn:focus, #cancelWorkprocessBtn:active {
  background-color: #ac2025 !important;
  border-color: #ac2025 !important;
  color: #FFFFFF !important;
}
#importWorkprocessBtn, #exportWorkprocessBtn {
  background-image: none;
  background-color: #FFFFFF;
  /*border-color: #e52228;*/
  color: #737373 !important;
  height: 35px;
  border-radius: 3px;
}
.wp-col-sm-4 {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
  width:32%;
}
.wp-col-sm-8 {
  margin-top: 20px;
  width:65%;
}
@media (max-width: 1250px){
  .wp-col-sm-4 {
    margin-top: 20px;
    width: 95%;
    margin-left: 2.5%;
  }
  .wp-col-sm-8 {
    margin-top: 20px;
    width: 95%;
    margin-left: 2.5%;
  }
}
