<script type="text/html" id="sections-page-template">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <span><big data-bind='text: headerTitle'></big></span>
            <span><small data-bind='text: deliverablesList'></small></span>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-file-text-o"></i><span data-bind='text: headerLink'></span></a></li>
            <li class="active"><span data-bind='text: headerDetails'></span></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div data-role="notification" id="section-notification"></div>
        <div class="box">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div data-role="toolbar">
                        <button data-role='button' data-icon="edit" data-bind='click: editDetails, visible: isEditable'><span data-bind="text: editButton"></span></button>
                        <button data-role='button' data-icon="preview" data-bind='click: viewDetails, visible: isEditMode'><span data-bind="text: viewButton"></span></button>
                        <button data-role='button' data-icon="plus" data-bind="click: addComment, visible: isCommentable"><span data-bind="text: addCommentButton"></span></button>
                    </div>
                    <div id="sections-list"></div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div data-role="toolbar">
                        <button data-role='button' data-icon="check" data-bind='click: saveDetails, visible: isEditMode'><span data-bind="text: saveButton"></span></button>
                        <button data-role='button' data-icon="close" data-bind='click: cancelDetails, visible: isEditMode'><span data-bind="text: discardButton"></span></button>
                    </div>
                    <div data-bind='visible: isEditMode' id='editor-container'>
                        
                    </div>
                    <div data-bind='visible: isViewMode'>
                        <div class="col-sm-8">
                            <div id="text-container">
                            </div>
                        </div>
                        <div class="col-sm-4 notifications-container">
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div id="details-tabstrip">
                    <ul>
                        <li class="k-state-active"><span data-bind="text: attachments"></span></li>
                        <li><span data-bind="text: comments"></span></li>
                        <li><span data-bind="text: revisions"></span></li>
                        <li><span data-bind="text: impactAnalysis"></span></li>
                        <li><span data-bind="text: variables"></span></li>
                        <li><span data-bind="text: logs"></span></li>
                        <li><span data-bind="text: contributors"></span></li>
                    </ul>
                    <div>
                        <div class='row'>
                            <div class="col-sm-8">
                                <div id="attachments-list"></div>
                            </div>
                            <div class="col-sm-3">
                                <div class="dropZoneElement" data-bind='visible: isEditMode'>
                                    <div class="textWrapper">
                                        <p><span>+</span><span data-bind="text: addFile"></span></p>
                                        <p class="dropImageHereText"><span data-bind="text: dropFile"></span></p>
                                        <input name="files" id="files" type="file" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="comments-table"></div>
                    </div>
                    <div>
                        <div id="revisions-table"></div>
                    </div>
                    <div>
                        <div id="impact-analysis-table"></div>
                    </div>
                    <div>
                        <div id="variables-table"></div>
                    </div>
                    <div>
                        <div id="logs-table"></div>
                    </div>
                    <div>
                        <div id="contributors-table"></div>
                    </div>
                </div>
            </div>

            <div id="addNewSectionDialog" data-role="window" data-title="Add new Section" data-width="550" data-actions="{}" data-height="250"
                data-bind="visible: showAddNewSectionDialog" data-position="{top: '20%', left: '30%'}">

                <div class='row'>
                    <div class='col-sm-12' data-bind='text: addSectionHelpText'></div>
                </div>
                <div style='height: 25px;'></div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <input id="sectionAutoComplete" data-role='autocomplete' data-placeholder="Type a Section name" data-bind='source: projectSections, value: newSection'
                            data-text-field='name' data-value-field='id' />
                    </div>
                </div>
                <div style='height: 25px;'></div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <button data-role='button' data-bind='click: addNewSection'><span data-bind="text: addSection"></span></button>
                        <button data-role='button' data-bind='click: closeAddSectionDialog'><span data-bind="text: closeWindow"></span></button>
                    </div>
                </div>
            </div>

            <div id="editSectionDialog" data-role="window" data-title="Edit Section Title" data-width="550" data-actions="{}" data-height="250"
                data-bind="visible: showEditSectionDialog" data-position="{top: '20%', left: '30%'}">

                <div style='height: 25px;'></div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <input class='k-textbox' data-bind='value: sectionTitle' />
                    </div>
                </div>
                <div style='height: 25px;'></div>
                <div class='row'>
                    <div class='col-sm-12'>
                        <button data-role='button' data-bind='click: editSectionFunction'><span data-bind="text: editSection"></span></button>
                        <button data-role='button' data-bind='click: closeEditDialog'><span data-bind="text: closeWindow"></span></button>
                    </div>
                </div>
            </div>

            <span id="comment-notificaiton"></span>
        </div>
    </section>
    <!-- /.content -->
</script>

<script type="text/html" id="attachments-template">
    <div class="attachment-item">
        <div class="image-container">
            <img src="#: getFileType(extension) #" alt="File Icon" style="width:64px;height:64px;">
            <span>
            <button class='k-button attachment-button open'>Open</button>
            <button class='k-button attachment-button edit' data-bind='visible: isEditMode'>Edit</button>
            <button class='k-button attachment-button delete' data-bind='visible: isEditMode'>Delete</button>
            </span>
        </div>

        <div class="attachments-text" title="#: name #">#: name #</div>
        <div class="attachments-text">#: kendo.toString(size / 1024, "n0")#kb</div>
        <div class="attachments-text">#: kendo.toString(new Date(creationDate), "d") #</div>
    </div>
</script>

<script type="text/html" id="users-template">
    <div>
        <span class='k-state-default'>
            <img src='images/navbar/avatar/username_5.png' class='imgavatar'>
            </img> #: data.name # #: data.firstname #
        </span>
    </div>
</script>


<script src="js/ckfinder/ckfinder.js"></script>
<script src="js/ckeditor/ckeditor.js"></script>